*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.sidebar {
  width: 210px;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}


 .container1 h2 {
      font-size: 25px;
      margin-bottom: 10px;
      margin-right:210px;
      
}

.container1 {
      width: 100%;
      max-width: 550px;
      margin-left: 220px;
      background-color: wheat;
      border-radius: 12px;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 20px;
}


.container2{
      width: 100%;
      max-width: 900px;
      max-height: 500px;
      margin-top: 20px;
      margin-left: 320px;
      background-color: wheat;
      border-radius: 12px;
      padding: 10px;
      box-sizing: border-box;
}

.form-group {
  margin-bottom: 8px;
}

label {
      display: block;
      margin-right: 210px;
      font-size: 12px;
      margin-bottom: 3px;
}

input[type="text"], input[type="number"], input[type="date"] {
  max-width: 100px;
  margin-right: 210px;      
  padding: 6px;
  font-size: 12px;
  box-sizing: border-box;
}
    
button {
 width: 100%;
 padding: 8px;
 max-width: 550px;
 border-radius: 12px;
 margin-right: 210px;
 font-size: 12px;
 background-color: #4CAF50;
 color: white;
 border: none;
 cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.btn-edit {
  background-color: #ff9800;
  margin-top: 5px;
}

.btn-edit:hover {
      background-color: #e68900;
}

.positionTable {
 margin-left: 520px;
 max-width: 900px;
 border-collapse: collapse;
 margin-top: 10px;
 font-size: 12px;
}

th, td {
 border: 1px solid #ccc;
 padding: 25px;
 text-align: center;
}

th {
      background-color: #eee;
}